body{
 display: flex;
 justify-content: center;
 align-items: center;
 height:100vh;
 margin:0;
 background-color: black;
 font-family: 'Roboto Slab', serif;
 background-image:url(https://images.unsplash.com/photo-1541831405157-453bbfdc8c3e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8c2VyZW5lfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=600&q=60);
 background-position: center;
 background-size: cover;
}
button{
    margin:0.5em;
    border-radius: 50%;
    border:none;
    height: 44px;
    width:44px;
    outline:none;
}
input.search-bar{
    border:none;
    width:100%;
    outline:none;
    padding:1em;
    border-radius: 18px;
    color:black;
}
button:hover{
    background-color: rgb(146, 145, 145);
    cursor:pointer;
    transition:0.2s ease-in-out
}
.card{
    background:black;
    color:white;
    padding:2em;
    border-radius: 30px;
    width: 100%;
    max-width:420px;
    margin:1em;
}

.search{
    display:flex;
    align-items:center;
    justify-content: center;
}

.flex{
    display: flex;
    align-items: center;
}
.description{
    text-transform: capitalize;
    margin-left: 8px;
}

.weather.loading{
    visibility: hidden;
    max-height:20px;
    position:relative;
}

.weather.loading:after {
    visibility: visible;
    content: "Loading...";
    color: white;
    position: absolute;
    top: 0;
    left: 20px;
  }